@charset "UTF-8";
/* RESET */
/* ----------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: 'Lato', sans-serif;;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

.clear {
	clear:both;
}


/* LAYOUT */
/* ----------------------------------------- */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #e1e0db;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	font-size:13px;
	line-height: 17px;
	color:#000;
}

.contact {
	background-image: none;
	background-color:#e9e9e9;
}

a, a:visited, a:active {
	color:#7b90b5;
	text-decoration: none;
}

a:hover {
	color:#7b90b5;
	text-decoration: underline;
}

/* DOSSIER BACKGROUND */
/* ----------------------------------------- */

#wrapper {
	width:969px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
}

.wrapper-top {
	width:969px;
	height:19px;
	margin:0 auto;
	background-image:url(../images/btop.jpg);
	background-repeat:no-repeat;
}

.wrapper-mid {
	width:969px;
	margin:0 auto;
	background-image:url(../images/bmid.jpg);
	background-repeat: repeat-y;
	padding-bottom:40px;
}

.wrapper-bottom {
	width:969px;
	height:22px;
	padding:0;
	margin:0 auto;
	background-image:url(../images/bbottom.jpg);
	background-repeat:no-repeat;
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
	width:828px;
	margin:0 auto;
}

.paper-top {
	width:828px;
	margin:0 auto;
	background-image:url(../images/ptop.jpg);
	background-repeat:no-repeat;
	height:126px;
}

#paper-mid {
	width:828px;
	margin:0 auto;
	background-image:url(../images/pmid.jpg);
	background-repeat:repeat-y;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}

.paper-bottom {
	width:828px;
	height:18px;
	margin:0 auto;
	background-image:url(../images/pbottom.jpg);
	background-repeat:no-repeat;
}

/* ENTRIES */
/* ----------------------------------------- */

.entry {
	width:724px;
	display: block;
	padding-top:25px;
	clear: both;
	margin-left:0px;
}

.projects-bg {
	width: 160px;
	float: left;
	display: inline;
	height: 510px;
	background: #61B00C;
	margin-left: 25px;
}

.projects-bg h2 {
	margin: 15px 0px 0px -35px;
	color: white;
	font-weight: bold;
}

.projects-title {
	color: #61B00C;
}

.education-bg {
	width: 160px;
	float: left;
	display: inline;
	height: 220px;
	background: #0F53D1;
	margin-left: 25px;
}

.education-bg h2 {
 	margin: 15px 0px 0px -35px;
 	color: white;
 	font-weight: bold;
}

.education-title {
	color: #0F53D1;
	font-weight: bold;
}

.ed-dates {
	margin-left: -18px;
}

.software-title {
	margin-left: -60px;
}

.language-title {
	margin-left: -79px;
}

.library-title {
	margin-left: -30px;
}

.experience-bg {
	width: 160px;
	float: left;
	display: inline;
	height: 267px;
	background: #7D0FD1;
	margin-left: 25px;
}

.experience-bg h2 {
 	margin: 15px 0px 0px -35px;
 	color: white;
 	font-weight: bold;
}

.experience-title {
	color: #7D0FD1;
	font-weight: bold;
}

.skills-bg {
	width: 160px;
	float: left;
	display: inline;
	height: 255px;
	background: #D10F29;
	margin-left: 25px;
}

.skills-bg h2 {
 	margin: 15px 0px 0px -35px;
 	color: white;
 	font-weight: bold;
}

.skill {
	color: #D10F29;
	font-weight: bold;
}

.me-bg {
	width: 160px;
	float: left;
	display: inline;
	height: 215px;
	background: #000000;
	margin-left: 25px;
}

.me-bg h2 {
 	margin: 15px 0px 0px -35px;
 	color: white;
 	font-weight: bold;
}

.name, .name span {
	 color: black;
}

h1  {
	width:250px;
	font-size:42px;
	color:#1b4491;
	margin-bottom:3px;
	clear:both;
}

h1 span {
	font-size:21px;
	display:block;
	color:#1b4491;
	margin-top:-5px;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22px;
	color:#1b4491;
	margin-bottom:-12px;
}

p {
	width:500px;
	margin-left:40px;
	float:right;	
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	/*clear: both;*/
	width: 70%
	float: right;
	display: inline-block;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
	padding-top:22px;
}

h3 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;
	color:#7b90b5;
}

h4 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 11px;
	color:#7b90b5;
}

h5 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 10px;
	color:#7b90b5;
}

h6 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 9px;
	color:#7b90b5;
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	font-size:12px;
	display: block;
	padding-top:3px;
}


ol {
	float:right;
	width:500px;
	margin-left:40px;
	list-style: decimal;
	
}

ol li {
	width:500px;
	list-style-type: decimal;
	list-style-position: inside;
}

dl {
	float:right;
	width:500px;
	margin-left:40px;
	
}

dt {
	float:left;
	display: block;
	width:500px;
		color:#7b90b5;
}

dd {
	float:left;
	display: block;
	width:480px;
	text-indent:20px;
}

ul.unordered {
	float:right;
	width:500px;
	margin-left:40px;
	
}

ul.unordered li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:0;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none; 
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;
	
}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:2px;
}

ul.works {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none;
}

ul.works li {
	margin:0;
	padding:0;
	float:left;
}

ul.works li img {
	padding:4px;
	background-color:#fff;
	width:95px;
	height:95px;
	border:1px solid #bdc7da;
	margin-right:20px;
	margin-bottom:16px;
}

ul.works li img:hover {
	border:1px solid #1b4491;
	cursor: pointer;
}

img.portrait {
	background-image:url(../images/frame.jpg);
	background-repeat: no-repeat;
	width:109px;
	height:109px;
	padding-top:20px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:36px;
	margin-left:50px;
	float:left;
	
}

.content ul li {
	margin-top: 2px;
}

/* SELF INFORMATION */
/* ----------------------------------------- */

.self {
	width:250px;
	float:left;
	padding-top:11px;
	margin-left:38px;
	margin-bottom:8px;
}

.self ul {
	padding-top: 10px;
}

.self ul li.ad {
	background-image:url(../images/icn-ad.gif);
}

.self ul li.mail {
	background-image:url(../images/icn-mail.gif);
}

.self ul li.tel {
	background-image:url(../images/icn-tel.gif);
}

.self ul li.web {
	background-image:url(../images/icn-web.gif);
}

.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}

/* SOCIAL ICONS */
/* ----------------------------------------- */

.social {
	width:135px;
	float:right;
	padding-top:10px;
}

.social ul {
	list-style: none;
}

.social ul li {
	float:left;
	width:21px;
	height:24px;
	margin:0;
	padding:0;
	margin-left:6px;
}

/* TIPSY */
/* ----------------------------------------- */

.tipsy { padding: 5px; font-size: 10px; background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: #080626; color: #fff; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; margin-bottom:20px; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }


/* COLORBOX */
/* ----------------------------------------- */

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0; display:none;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

#cboxOverlay{background:#666;}

#colorBox{}
#cboxTopLeft{width:25px; height:25px; background:url(../images/border1.png) 0 0 no-repeat;}
#cboxTopCenter{height:25px; background:url(../images/border1.png) 0 -50px repeat-x;}
#cboxTopRight{width:25px; height:25px; background:url(../images/border1.png) -25px 0 no-repeat;}
#cboxBottomLeft{width:25px; height:25px; background:url(../images/border1.png) 0 -25px no-repeat;}
#cboxBottomCenter{height:25px; background:url(../images/border1.png) 0 -75px repeat-x;}
#cboxBottomRight{width:25px; height:25px; background:url(../images/border1.png) -25px -25px no-repeat;}
#cboxMiddleLeft{width:25px; background:url(../images/border2.png) 0 0 repeat-y;}
#cboxMiddleRight{width:25px; background:url(../images/border2.png) -25px 0 repeat-y;}
#cboxContent{background:#fff;}
#cboxLoadedContent{margin-bottom:20px;}
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#1b4491;}
#cboxCurrent{position:absolute; bottom:0px; left:100px; color:#000;}
#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
#cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
#cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
#cboxLoadingOverlay{background:url(../images/loading.gif) 5px 5px no-repeat #fff;}
#cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}


/* GO TO TOP */
/* ----------------------------------------- */

#message {
	display: block;
	display: none;
	z-index: 999;
	opacity: .8;
	position: fixed;
	top: 100%;
	margin-top: -40px;
	right: 0%;
	margin-right:10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 77px;
	line-height: 20px;
	height: 20px;
	padding: 5px;
	background-color: #080626;
	font-size: 11px;
	text-align: center;
}

#message a {
	color: #fff;
}
	
/* ELEMENTS */
/* ----------------------------------------- */

table {
	width: 500px;
	margin-left:40px;
	float:right;
	border-collapse: collapse;
	border-bottom:1px dashed #999;
	border-top:1px dashed #999;
}

table td {
	padding: 10px;
	padding-top:0;
	border-right:1px dashed #999;
}

table td:hover {
	background-color: #f2f2f2;
}

table th {
	padding: 10px;
	padding-top:0;
	color:#7b90b5;
	text-align: left;
	border-right:1px dashed #999;
}

table td.center {
	text-align: center;
}

table td.last {
	background: none;
}

table th.center {
	text-align: center;
}

table th.last {
	background: none;
}

table tr {
	border-left:1px dashed #999;
	border-top:1px dashed #999;
}

table tr.caption {
	border-left:1px dashed #999;
}

blockquote {
	border-left:3px solid #7b90b5;
	padding-left:8px;
	width:489px;
	margin-left:40px;
	float:right;
}

abbr, acronym {
	border-bottom:1px dashed #7b90b5;
}

strong {
	font-weight: bold;
}

small {
	font-size:70%;
}

big {
	font-size:1.2em;
}


/* CONTACT */

fieldset, legend {
	float:right;
	width:500px;
	padding:0;
	margin:0;
	margin-left:40px;
}

h1.warn {
	color:#1b4491;
	font-size:18px;
	margin-top:30px;
	padding:50px;
	text-align: center;
}

#contactform {
	width:320px;
	height:370px;
	margin:0 auto;
	padding:50px;
	overflow: hidden;
}

label {
	float:left;
	width:40px;
	height:28px;
	margin-bottom:10px;
	clear:both;
	color:#1b4491;
}

input {
	width:228px;
	float:right;
	height:18px;
	margin-bottom:10px;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
	background-color: #e4e4e4;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding:5px;
	outline: none;
}

input:focus {
	background-color: #dddddd;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
}

textarea {
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
	background-color: #e4e4e4;
	width:228px;
	float:right;
	margin-bottom:10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding:5px;
	outline: none;
}

textarea:focus {
	background-color: #dddddd;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
}

.submit-button {
	background: transparent url(../images/submit.jpg) no-repeat 0 0;
	display: block;
	clear: both;
	width:90px;
	height: 33px; 
	border:none;
	float:left;
	margin-left: 80px;
	text-indent: -9999px;
	outline: 0;
	cursor: pointer;
	padding:0;
}

.submit-button:hover {
	background: transparent url(../images/submit.jpg) no-repeat 0 -33px;
	outline: 0;
	border: none;
}

label.error {
	clear: both;
	padding:0;
	margin-top:-5px;
	color:#7b90b5;
	font-size: 1.0em;
	font-style: italic;
	font-weight: normal;
	margin-left:80px;
	width:238px;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2c3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.pure-menu ul {
    position: absolute;
    visibility: hidden;
}

.pure-menu.pure-menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.pure-menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.pure-menu > ul { position: relative; }

.pure-menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.pure-menu-open > ul:focus {
    outline: 0;
}

.pure-menu li { position: relative; }

.pure-menu a,
.pure-menu .pure-menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.pure-menu.pure-menu-horizontal > .pure-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.pure-menu.pure-menu-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.pure-menu li a { padding: 5px 20px; }

.pure-menu-can-have-children > .pure-menu-label:after {
    content: '\25B8';
    float: right;
    /* These specific fonts have the Unicode char we need. */
    /*font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;*/
    margin-right: -20px;
    margin-top: -1px;
}

.pure-menu-can-have-children > .pure-menu-label {
    padding-right: 30px;
}

.pure-menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.pure-menu-hidden {
    display: none;
}

/* FIXED MENU */
.pure-menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


/* HORIZONTAL MENU CODE */

/* Initial menus should be inline-block so that they are horizontal */
.pure-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Submenus should still be display: block; */
.pure-menu-horizontal li li {
    display: block;
}

/* Content after should be down arrow */
.pure-menu-horizontal > .pure-menu-children > .pure-menu-can-have-children > .pure-menu-label:after {
    content: "\25BE";
}
/*Add extra padding to elements that have the arrow so that the hover looks nice */
.pure-menu-horizontal > .pure-menu-children > .pure-menu-can-have-children > .pure-menu-label {
    padding-right: 30px;
}

/* Adjusting separator for vertical menus */
.pure-menu-horizontal li.pure-menu-separator {
	height: 50%;
	width: 1px;
	margin: 0 7px;
}

/* Submenus should be horizontal separator again */
.pure-menu-horizontal li li.pure-menu-separator {
	height: 1px;
	width: auto;
	margin: 7px 2px;
}


/*csslint adjoining-classes:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/

/* MAIN MENU STYLING */

.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
    /*background: #fff;  Old browsers */
    /*border: 1px solid #b7b7b7;*/
}

/* remove borders for horizontal menus */
.pure-menu.pure-menu-horizontal,
.pure-menu.pure-menu-horizontal .pure-menu-heading {
    border: none;
}


/* LINK STYLES */

.pure-menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

}

.pure-menu a,
.pure-menu .pure-menu-can-have-children > li:after {
    color: #777;
}

.pure-menu .pure-menu-can-have-children > li:hover:after {
    color: #fff;
}

/* Focus style for a dropdown menu-item when the parent has been opened */
.pure-menu .pure-menu-open {
    background: #2c3e50;
}


.pure-menu li a:hover,
.pure-menu li a:focus {
    /*background: #eee;*/
}

/* DISABLED STATES */
.pure-menu li.pure-menu-disabled a:hover,
.pure-menu li.pure-menu-disabled a:focus {
    /*background: #fff;*/
    color: #bfbfbf;
}

.pure-menu .pure-menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.pure-menu .pure-menu-disabled > a,
.pure-menu .pure-menu-can-have-children.pure-menu-disabled > a:after {
    color: #bfbfbf;
}

/* HEADINGS */
.pure-menu .pure-menu-heading {
    color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf;
}

/* ACTIVE MENU ITEM */
.pure-menu .pure-menu-selected a {
    color: #000;
}

/* FIXED MENU */
.pure-menu.pure-menu-open.pure-menu-fixed {
    border: none;
    border-bottom: 1px solid #b7b7b7;
}