<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Joey Gauthier</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../bower_components/pure/pure.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/projects.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/jquery.jscrollpane.css">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/lightview.css">
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,600,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <!--[if lte IE 8]>
          
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure//grids-responsive-old-ie.css">
          
        <![endif]-->
        <!--[if gt IE 8]><!-->
          
            <link rel="stylesheet" href="../bower_components/pure/grids-responsive-min.css">
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
          
        <!--<![endif]-->

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../styles/marketing.css">
        <!--<![endif]-->
          
    </head>
    <body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Portfolio</a>
            <ul>
                <li><a href="../index.html">About</a></li>
                <li><a href="../views/contact.html">Contact</a></li>
                <li class="pure-menu-selected"><a href="#">Projects</a></li>
                <li><a href="../views/blog.html">Blog</a></li>
                <li><a id="social-link" href="#">Social <i id="caret" class="fa fa-angle-down"></i></a></li>


            </ul>
            <div class="pure-menu pure-menu-open pure-menu-horizontal social-menu social-menu-off">
                <a href="#" class="pure-menu-heading">Find Me On...</a>

                <ul>
                    <li><a href="http://www.linkedin.com/in/paulgauthier81/"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
                    <li><a href="http://www.twitter.com/jgdigitaljedi"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li><a href="https://plus.google.com/+JoeyGauthier/posts"><i class="fa fa-google-plus-square"></i> G+</a></li>
                    <li><a href="https://www.facebook.com/joey.gauthier"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                    <li><a href="https://github.com/jgdigitaljedi"><i class="fa fa-github-square"></i> GitHub</a></li>
                </ul>
        </div>
    </div>

    
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-5"></div>

        <div class="pure-u-1 pure-u-md-3-5">
        <h1 class="broken">My Projects</h1>
            <div id="ca-container" class="ca-container">
                <div class="ca-wrapper">
                    <div class="ca-item ca-item-1">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>My Dash</h3>
                            <h4>
                                <span class="ca-quote">“</span>
                                <span>Dashboard that centralizes all the data you need to keep organized.</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>My Dash</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>Get randomized restaurant and bar suggestions, view weather info and radar, track packages, view phone notifications, and control your HomeJS devices all from one screen! Project was built on AngularJS using the following APIs: FourSquare, WeatherUnderground, Openweathermap, Boxoh, Pushbullet, HomeJS, Firebase, and Google Maps. <b>I have not launched this app because I want to rebuild on a MEAN stack as a way to teach myself more about NodeJS. </b></p>
                                </div>
                                <ul>
                                    <li><a href="https://github.com/jgdigitaljedi/dashboard" target="_blank">View on GitHub</a></li>
                                    <li>
                                        <a href="../images/dash/dash-gallery-1.png"
                                           class="lightview"
                                           data-lightview-title="My Dash"
                                           data-lightview-caption="Landing page"
                                           data-lightview-group="dash">View Images
                                        </a>
                                    </li>
                                </ul>
                                <a href="../images/dash/dash-gallery-2.png"
                                   class="lightview"
                                   data-lightview-title="My Dash"
                                   data-lightview-caption="Landing page after animated intro"
                                   data-lightview-group="dash">
                                </a>
                                <a href="../images/dash/dash-gallery-3.png"
                                   class="lightview"
                                   data-lightview-title="My Dash"
                                   data-lightview-caption="Main dash view"
                                   data-lightview-group="dash">
                                </a>
                                <a href="../images/dash/dash-gallery-4.png"
                                   class="lightview"
                                   data-lightview-title="My Dash"
                                   data-lightview-caption="Responsive/mobile view"
                                   data-lightview-group="dash">
                                </a>
                                <a href="../images/dash/dash-gallery-5.png"
                                   class="lightview"
                                   data-lightview-title="My Dash"
                                   data-lightview-caption="Map & directions for sugessted restaurant"
                                   data-lightview-group="dash">
                                </a>
                                <a href="../images/dash/dash-gallery-6.png"
                                   class="lightview"
                                   data-lightview-title="My Dash"
                                   data-lightview-caption="Sign In / Sign Up modal"
                                   data-lightview-group="dash">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-2">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>TX Lassos Alumni Connect</h3>
                            <h4>
                                <span class="ca-quote">“</span>
                                <span>Privatized social network for TX Lassos Alums with advanced admin features.</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>TX Lassos Alumni Connect</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>This application was built by request for the Texas Lassos Alumni Group. I worked on a team with two other development students to create a privatized social network for this Alumni group. The application has a table for alums and a table for alums who have joined the social network. Upon signing up, the app notifies the admins that someone is pending approval, notifies the user they must wait for approval, and looks for the user information in the alum table to see if it can move it to the active user table but still keep them inactive. After approval the user is notified to log in and can fill out their profile, search for other alums, and more. Admins can import new alums via Excel sheet and export the whole database to an Excel sheet as well. This was a Ruby on Rails app with Devise and Roo gems and a little bit of jQuery.</p>
                                </div>
                                <ul>
                                    <li><a href="https://github.com/jgdigitaljedi/tx-lassos" target="_blank">View on GitHub</a></li>
                                    <li><a data-lightview-title="Lassos Connect" class="lightview map-link">View more images</a></li>
                                    <li><a href="http://connect.lassoalumni.org/users/sign_in">Link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-3">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Restaurant Roulette</h3>
                            <h4>
                                <span class="ca-quote">“</span>
                                <span>Can't decide where to eat? This app decides for you!</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Restaurant Roulette</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>This app was done in 2 days and AngularJS was used merely to force myself to learn it on the fly. It geolocates you via IP address, gets a list of 30 restaurants near you via the FourSquare API, then randomly selects 2 choices for you providing you with a website link and Google map for each one.</p>
                                </div>
                                <ul>
                                    <li><a href="https://github.com/jgdigitaljedi/hackday/tree/gh-pages" target="_blank">View on GitHub</a></li>
                                    <li><a href="http://development.restaurant-roulette.divshot.io" target="_blank">Link</a></li>
                                    <li>
                                        <a href="../images/rr/rr-gallery-1.png"
                                           class="lightview"
                                           data-lightview-title="Restaurants Roulette"
                                           data-lightview-caption="Landing page"
                                           data-lightview-group="rr">View Images
                                        </a>
                                    </li>
                                </ul>
                                
                                <a href="../images/rr/rr-gallery-2.png"
                                   class="lightview"
                                   data-lightview-title="Restaurants Roulette"
                                   data-lightview-caption="Results page"
                                   data-lightview-group="rr">
                                </a>
                                <a href="../images/rr/rr-gallery-3.png"
                                   class="lightview"
                                   data-lightview-title="Restaurants Roulette"
                                   data-lightview-caption="Map for chosen result"
                                   data-lightview-group="rr">
                                </a>
                                <a href="../images/rr/rr-gallery-4.png"
                                   class="lightview"
                                   data-lightview-title="Restaurants Roulette"
                                   data-lightview-caption="Results filtering by food type"
                                   data-lightview-group="rr">
                                </a>
                                <a href="../images/rr/rr-gallery-5.png"
                                   class="lightview"
                                   data-lightview-title="Restaurants Roulette"
                                   data-lightview-caption="Responsive landing page view"
                                   data-lightview-group="rr">
                                </a>
                                <a href="../images/rr/rr-gallery-6.png"
                                   class="lightview"
                                   data-lightview-title="Restaurants Roulette"
                                   data-lightview-caption="Responsive results page view"
                                   data-lightview-group="rr">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-4">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Quizzy</h3>
                            <h4>
                                <span class="ca-quote">“</span>
                                <span>A dynamically generated quiz game.</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Quizzy</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>Quizzy was a MakerSquare project that used Underscore.JS templating to dynamically create quiz games much like you would see on BuzzFeed. After creating our own quiz for the game by making a JSON object that was read by the templating system which generated the html, we continued on to make it possible for users to create their own custom quizes as well. Although we did not finish the project, I felt that the Underscore templating lessons I learned made this project valuable enough to list here. You can view the source on my GitHub.</p>
                                </div>
                                <ul>
                                    <li><a href="https://github.com/jgdigitaljedi/quizzy" target="_blank">View on GitHub</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-5">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>My Toolbox</h3>
                            <h4>
                                <span class="ca-quote">“</span>
                                <span>The Swiss Army Knife for desktop technicians.</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>My Toolbox</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>After writing a countless number of vbscripts and batch files to perform remote and batch tasks, I finally decided to write an HTA to give the script collection a GUI and make it easier for anyone to use my scripts. Although a lot of features had to be removed prior to posting to GitHub because they contained server addresses or were for very client specific tasks, the project is still huge and loaded with functionality. I used vbscript, JavaScript, HTML, and CSS to generate an HTA that has many external vbscript and batch file dependencies. This is a Windows desktop app made to function inside a Windows network.</p>
                                </div>
                                <ul>
                                    <li><a href="https://github.com/jgdigitaljedi/myToolBox" target="_blank">View on GitHub</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- ca-wrapper -->
            </div><!-- ca-container -->

        </div>

        <div class="pure-u-1 pure-u-md-1-5"></div>

    </div>


    <script type="text/javascript" src="../scripts/landing.js"></script>
    <script type="text/javascript" src="../scripts/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="../scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../scripts/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="../scripts/slider.js"></script>
    <script type="text/javascript" src="../scripts/lightview.js"></script>
    <script type="text/javascript" src="../scripts/spinners.min.js"></script>
    <script type="text/javascript" src="../scripts/excanvas.js"></script>
    </body>
</html>