.social-menu-off {
	display: none;
}

.me {
	border-radius: 15px;
}

.social-boxed {
	border: 2px solid white;
}

#message {
	width: 100%;
}

.resume-box {
	border: 2px solid #2980B9;
	margin-top: 4%;
	background: rgba(255, 255, 255, 0.5)
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

html {
	font-family: 'Cabin', sans-serif;
}

.pure-menu, .splash-head {
	font-family: 'Lobster', cursive;
	font-size: 1.1em;
}

.social-menu ul {
	font-size: 0.9em;
}
