.social-menu-off {
	display: none;
}

.me {
	border-radius: 15px;
}

.social-boxed {
	border: 2px solid white;
}

#message {
	width: 100%;
}

.resume-box {
	border: 2px solid #2980B9;
	margin-top: 4%;
}
