body {
	background: url("../images/AustinNight.png") no-repeat;
	background-color: #2980B9;
	background-size: cover;

}

.broken {
	font-weight: bold;
	color: white;
	margin-top: 10%;
	font-size: 2.5em;
	font-family: 'Lobster', cursive;
}